@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,300&display=swap');
@font-face {
    font-family:'Android';
    src: url('fonte/droid.otf') format('opentype'); font-weight: normal;}

:root{--fonte-padrao:'Times New Roman','Serif','Helvetica','cursive';
    --fonte-android:'Android','cursive';
    --fonte-destaque:'Bebas Neue', 'cursive';}    

    @media(max-width:1920px){
        .h1header{padding-top: 1px;margin-left: 370px;}
        .nav1{margin-top: -53px;}
        main img.foto1{margin: auto;margin-left: 223px;}
        header{max-width: 2000px;}
        main{max-width: 2000px;}
        .banner1{max-width: 1930px;}
        section{max-width: 1930px;}
        .banner3{max-width: 1930px;}
        .sobre1{max-width: 930px;margin-left: 57px;}
        .sobre2{max-width: 918px;margin-left: 900px;}
        article{max-width: 1860px;margin-left: 12px;}
        .banexp1{max-width: 905px;}
        .banexp2{max-width: 905px;}
        .banexp3{max-width: 905px;}
        .android1{margin: auto;margin-left: 900px;}
        .proban{margin-left: 200px;}
        .Portfólio1{display: block;margin: auto;margin-left: 200px;margin-top: 10px;}
        .title2{text-align: center;margin-left: 700px;margin-top: 74px;}
        .textport{margin-left: 350px;margin-top: 10px;}
        .move1{text-align: center;margin-left: 650px;}
        article > img.android1{width: 100%;background-size: 100%;}
    }

    @media(max-width:892px){
        .h1header{font-size: 18px;margin: auto;margin-top: -30px;padding-top: 18px;margin-left: 20px;}
        .nav1{margin: auto;margin-left: 174px;font-size: 18px;margin-top: -28px;padding: 5px;}
        .nav1 a{padding: 10px;}
        .nav1:hover{transform: scale(1.1)}
        .fotoperfil{padding-top: 0px;margin: auto;}
        .mainh{padding-top: 400px;margin-left: -345px;}
        .banner3{padding-top: 250px;margin-top: 0px;}
        article{margin-top: 200px;}
        .marg1{padding-top: 570px;}
        .sobre2{margin-left: 0px;height: 650px;}
        .banexp1{margin-top: 10px;height: 210px;font-size: 18px;margin-top: 17px;padding-top: 3px;margin-right: 5px;}
        .hob{font-size: 18px;margin-top: -1px;padding-top: 3px;}
        .hobfoto{margin-top: -10px;}
        .hob1{font-size: 16px;margin: auto;margin-top: -100px;margin-left: 105px;}
        .hob2{margin-top: 10px;margin-left: 131px;font-size: 14px;}
        .banexp2{margin-top: -10px;height: 180px;margin-right: 5px;}
        .exp2{padding-top: 6px;padding-left: 90px;}
        .novacap1{margin-left: 34px;margin-top: -89px;}
        .novacap2{margin-left: 132px;font-size: 14px;}
        .novacapfoto{margin-left: 12px;margin-top: 8px;}
        .banexp3{height: 210px;margin-right: 5px;}
        .exp1{padding-top: 9px;margin-left: 71px;}
        .aprendiz{margin-left: 30px;margin-top: -86px;}
        .aprendiz1{margin-left: 130px;font-size: 14px;}
        .tsefoto{margin-top: 26px;padding-right: 50px;margin-left: 11px;}

        }
        
    @media(max-width:891px){
        .h1header{font-size: 22px;padding-top: 14px;}
        .nav1{margin-left: 77px;margin-top: -34px;}
        .nav1 a{font-size: 22px;padding: 15px;}
        main img.foto1{margin: auto;margin-left: 276px;padding-top: 21px;}
        .sobre1{max-width: 849px;}
        .sobre2{max-width: 819px;height: 750px;}
        .project1{margin-top: -26px;}
        .redes1{padding-top: 16px;}
        picture a {padding: 10px;}
        .sobre1{margin-top: -60px;}
        .sobre2{margin-top: -2058px;} 

    }

    @media(max-width:800px){
       main img.foto1{margin: auto;margin-left: 234px;}
       .sobre1{max-width: 800px;}
       .sobre2{max-width: 800px;height: 750px;}
       .text{font-size: 20px;}
       .text1{font-size: 20px;}
       .text2{font-size: 20px;}
       .text3{font-size: 20px;}
       .text4{font-size: 20px;}
       .banexp1{max-width: 795px;height: 200px;}
       .banexp2{max-width: 795px;height: 200px;}
       .banexp3{max-width: 795px;height: 200px;}
       .hob{font-size: 28px;padding-top: 6px;text-decoration: underline #00e6fd;}
       .hobfoto{margin-bottom: -9px;padding-top: 23px;}
       .hob1{font-size: 20px;margin-left: -77px;}
       .hob2{font-size: 20px;margin-left: 142px;margin-top: 4px;}
       .exp2{font-size: 28px;padding-top: 10px;text-decoration: underline #00e6fd;}
       .novacapfoto{margin-top: 4px;}
       .novacap1{font-size: 20px;margin-left: -175px;}
       .novacap2{font-size: 20px;margin-left: 142px;}
       .exp1{font-size: 28px;padding-top: 10px;text-decoration: underline #00e6fd;margin-left: 55px;}
       .tsefoto{margin-top: 60px;}

    }

    @media(max-width:482px){
        main img.foto1{margin: auto;margin-left: 63px;}
        .h1header{font-size: 17px;}
        .nav1{margin-left: 165px;margin-top: -28px;}
        .nav1 a{font-size: 17px;}
        .h1banner2{padding-top: 51px;}
        .marg1{margin-top: 42px;}
        .hob1{padding-left: 23px;}
        .hob2{padding-top: 1px;}
        .banner3{margin-top: 0px;}
        .redes1{padding-top: 10px;}
        .sobre1{margin-top: -138px;}
        .project1{padding-top: 1px;}
        .sobre2{margin-top: -2139px;height: 745px;}

        }
        
    @media(max-width:478px){
        .h1header{font-size: 17px;}
        .nav1{margin-left: 165px;margin-top: -28px;}
        .nav1 a{font-size: 17px;}
        .h1banner2{padding-top: 51px;}
        .marg1{margin-top: 42px;}
        .hob1{padding-left: 23px;}
        .hob2{padding-top: 1px;}
        .banner3{margin-top: 0px;}
        .redes1{padding-top: 10px;}
        .sobre1{margin-top: -93px;}
        .project1{padding-top: 1px;}
        .sobre2{margin-top: -2092px;height: 745px;}
        main img.foto1{margin: auto;margin-left: 63px;}

    }  

    @media(max-width:472px){
        .h1header{font-size: 15px;}
        .nav1 a{font-size: 15px;}
        main img.foto1{margin: auto;margin-left: 62px;}
        .sobre1{margin-top: -90px;}
        .sobre2{margin-top: -2085px;}

    }  

.h1header{font-size: 25px;color: #ffffff;;font-family: 'Open Sans', sans-serif;margin-top: -5px;text-decoration: underline #00e6fd;}
header{background-color: #111111e8;color: rgb(0, 0, 0);margin: auto;padding-top: 30px;margin-left: -9px;margin-top: -8px;margin-right: -8px;height: 36px;}
.nav1{transition: 0.5s;text-align: center;color: #ffffff;padding-bottom: 13px;font-size: 25px;height: 34px;font-family: 'Open Sans', sans-serif;margin-left: 350px;}
.nav1 > a {transform: scale(1.1);padding: 20px;color: #ffffff;font-weight: bold;font-family: 'Open Sans', sans-serif;margin-top: 15px;transition-duration: .5s;text-decoration: none;}
.nav1 > a:hover {transform: scale(1.1);background-color: #1111116c;border-radius: 5px;text-decoration: underline #00e6fd;}
nav a {transition: 0.5s;}
nav a:hover{transform: scale(1.1);}
.fotoperfil{margin: auto;margin-left: 80px;border-radius: 100px;padding-top: 72px;}
.mainh{margin-top: 37px;margin: auto;}
.mainh1{font-family: 'Open Sans', sans-serif;font-size: 40px;text-align: center; margin-top: -383px;margin-left: 400px;color: #ffffff;font-weight: bold;}
.mainh2{font-family: 'Open Sans', sans-serif;font-size: 30px;text-align: center;margin-left: 400px;color: #ffffff;}
.ling{font-family: 'Open Sans', sans-serif;font-size: 20px;text-align: center;color: #ffffff;margin-left: 400px;}
.mainh3{text-align: center;font-size: 40px;font-family: 'Open Sans', sans-serif;padding-top: 38px;text-decoration: underline #00e6fd;font-weight: bold;margin: auto;}
.mainh4{transition: 0.5s;font-family: 'Open Sans', sans-serif;font-size: 25px;background-color: #e5e6e900;font-weight: bold;color: #ffffff;border: 1px solid #00e6fd;}
.mainh4 :hover{transform: scale(1.3);}
.banner1{background-color:#111111e8;height: 550px;margin: auto;margin-left: -40px;padding-right: 10px;margin-right: -8px;}
.banner2{background-color: #f1f1f1;max-width: 550px;min-width:320px;display: block;height: 535px;margin-left: 560px;margin-top: -552px;}
.banner3{background-color:#111111e8;height: 2000px;margin: auto;margin-left: -42px;padding-right: 10px;margin-right: -8px;margin-top: -25px;}
.redes1{padding: 10px;margin: auto;padding-left: 400px;text-align: center;padding-top: 60px;}
.a1{font-family: 'Open Sans', sans-serif;font-size: 20px;color: #042c83;;padding-top: 20px;text-shadow: 0px 0px 1px black;}
main article p {font-size: 20px;font-weight: bold;}
main article strong {color: #042c83;;text-decoration: underline;text-shadow: 0px 0px 1px black;}
.banner4{padding-top: 15px;padding-left: 10px;}
.c1{padding-bottom: 20px;}
.c2{padding-bottom: 20px;}
.c3{padding-bottom: 20px;}
.c4{padding-bottom: 20px;}
ul{columns: 2;padding-top: 15px;padding-left: -15px;padding-left: 204px;}
.desh3{font-size: 25px;color: #042c83;text-decoration: underline;font-weight: bold;}
.desh4{font-size: 25px;color: #042c83;text-decoration: underline;font-weight: bold;padding-top: 25px;}
li{font-size: 20px;font-weight: bold;padding: 5px;list-style-type:'\27A0';}
picture{display: block;margin: auto;}
.img2{text-align: right;padding-right: 170px;margin-top: -28px;}
picture  a {color: #0e214b00;}
p{font-family: 'Open Sans', sans-serif;}
.h1banner2{margin: auto;}
.teste2{border-radius: 5px;}
.foto1{border-radius: 200px;}
main a{text-align: center;color: #ffffff;transition: 0.5s;}
main a:hover{text-decoration: underline #00e6fd;}
.project1{text-align: center;margin-left: 400px;padding-top: 20px;}
.redes1 img{transition: 0.5s;}
.redes1  img:hover {transform: scale(1.3);}
.sobre1{height: 530px;background-color: #11111162;border-radius: 10px;margin-left: 54px;text-align: center;}
button{transition: 0.5s;}
button:hover{transform: scale(1.2);}
.sobremimh1{text-decoration: underline #00e6fd;font-family: 'Open Sans', sans-serif;font-size: 30px;color: #ffffff;padding-top: 38px;text-align: center;}
.sobre2{height: 530px;background-color: #11111162;border-radius: 10px;margin-top: -2000px;}
.banner4{font-family: 'Open Sans', sans-serif;font-size: 30px;color: #ffffff;text-align: center;text-decoration: underline #00e6fd;font-weight: bold;padding-top: 38px;}
article{background-color: #11111162;display: block;height: 900px;margin-top: 8px;border-radius: 5px;}
.pro1{font-family: 'Open Sans', sans-serif;font-size: 30px;color: black;padding-top: 25px;text-align: center;}
.text{color: #ffffff;font-weight: bold;text-align: justify;font-size: 15px;padding: 15px;text-indent: 30px;}
.text1{color: #ffffff;font-weight: bold;text-align: justify;font-size: 15px;padding: 15px;text-indent: 30px;margin-top: -25px;}
.text2{color: #ffffff;font-weight: bold;text-align: justify;font-size: 15px;padding: 15px;margin-top: -25px;text-indent: 30px;}
.text3{color: #ffffff;font-weight: bold;text-align: justify;font-size: 15px;padding: 15px;text-indent: 30px;margin-top: -25px;}
.m1{padding-bottom: 30px;}
.exp1{margin-left: 140px;font-family: 'Open Sans', sans-serif;color: #ffffff;text-align: center;margin-top: -105px;margin-bottom: -4px;text-align: justify;padding-top: 15px;}
.tsefoto{margin-top: -0px;padding-right: 50px;margin-left: 15px;}
.aprendiz{color: #ffffff;text-align:center;font-weight: bold;margin-left: 138px;margin-top: -75px;text-align: justify;}
.aprendiz1{margin-top: -15px;color: #ffffff;font-weight: bold;margin-left: 138px;font-size: 13px;text-align: center;text-align: justify;}
.banexp1{margin-top: 28px;margin-left: 6px;background-color: #042c83;height: 117px;background-color: #0808085e;border-radius: 10px;}
.banexp2{margin-top: 17px;margin-left: 6px;background-color: #042c83;height: 111px;background-color: #0808085e;border-radius: 10px;}
.exp2{color: #ffffff;font-weight: bold;font-family: 'Open Sans', sans-serif;text-align: center;margin-left: 130px;margin-top: 15px;text-align: justify;padding-top: 10px;}
.novacapfoto{margin-left: 14px;margin-top: -35px;}
.novacap1{color: #ffffff;font-family: 'Open Sans', sans-serif;text-align: center;font-weight: bold;margin-top: -67px;margin-left: 130px;text-align: justify;}
.novacap2{color: #ffffff;font-family: 'Open Sans', sans-serif;text-align: center;font-weight: bold;font-size: 13px;margin-left: 130px;margin-top: -13px;text-align: justify;}
.banexp3{margin-top: 124px;margin-left: 6px;background-color: #042c83;height: 140px;background-color: #0808085e;border-radius: 10px;}
.hob{color: #ffffff;font-family: 'Open Sans', sans-serif;text-align: center;font-weight: bold;margin-left: 55px;margin-left: 130px;text-align: justify;padding-top: 10px;}
.hobfoto{margin-top: -45px;margin-left: 13px;}
.hob1{color: #ffffff;font-family: 'Open Sans', sans-serif;font-weight: bold;text-align: center;margin-top: -80px;margin-left: 130px;text-align: justify;}
.hob2{color: #ffffff;font-family: 'Open Sans', sans-serif;font-weight: bold;text-align: center;font-size: 13px;margin-left: 130px;margin-top: -11px;text-align: justify;}
.marg1{margin-top: -18px;margin-left: 56px;}
.pro2{color: #ffffff;font-family: 'Open Sans', sans-serif;font-weight: bold;text-decoration: underline #00e6fd;font-size: 30px;padding-top: 4px;}
.title1{margin-bottom: -23px;color: #ffffff;font-family: 'Open Sans', sans-serif;font-weight: bold;text-decoration: underline #00e6fd;max-width: 650px;text-indent: 30px;}
.para1{margin-top: -184px;color: #ffffff;font-family: 'Open Sans', sans-serif;font-weight: bold;text-align: justify;font-size: 15px;max-width: 650px;text-indent: 30px;}
.para2{color: #ffffff;font-family: 'Open Sans', sans-serif;font-weight: bold;text-align: justify;font-size: 15px;max-width: 650px;text-indent: 30px;}
.proban{margin-top: 62px;}
.move{margin-left: 80px;}
.rep1{margin-top: 30px;}
.android1{display: block;}
.hr1{margin-top: 50px;}
.title2{color: #ffffff;font-family: 'Open Sans', sans-serif;font-weight: bold;text-decoration: underline #00e6fd;max-width: 650px;text-indent: 30px;}
.Portfólio1{margin-top: 31px;}
.p1{margin-left: 610px;margin-top: -242px;color: #ffffff;font-family: 'Open Sans', sans-serif;font-weight: bold;text-align: justify;font-size: 15px;max-width: 650px;text-indent: 30px;}
.p2{margin-left: 610px;color: #ffffff;font-family: 'Open Sans', sans-serif;font-weight: bold;text-align: justify;font-size: 15px;max-width: 650px;text-indent: 30px;}
.p3{margin-left: 608px;color: #ffffff;font-family: 'Open Sans', sans-serif;font-weight: bold;text-align: justify;font-size: 15px;max-width: 650px;text-indent: 30px;}
.proban1{margin-top: -10px;}
article button{color: #00e6fd;margin-left: 100px;font-size: 20px;background-color:#11111100 ;transition: 0.5s;font-family: 'Open Sans', sans-serif;font-weight: bold;color: #ffffff;border: 1px solid #00e6fd;}
article img{transition: 0.5s;}
article img:hover{transform: scale(1.1);}
aside{}