@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,300&display=swap');
@font-face {
    font-family:'Android';
    src: url('fonte/droid.otf') format('opentype'); font-weight: normal;}

:root{--fonte-padrao:'Times New Roman','Serif','Helvetica','cursive';
    --fonte-android:'Android','cursive';
    --fonte-destaque:'Bebas Neue', 'cursive';}    

.h1header{font-size: 33px;color: #ffffff;;font-family: 'Open Sans', sans-serif; margin-left: 130px;margin-top: -5px;text-decoration: underline #00e6fd;}
header{background-color: #111111e8;color: rgb(0, 0, 0);margin: auto;padding-top: 30px;margin-left: -9px;margin-top: -8px;min-width: 320px;max-width: 1400px;margin-right: -8px;height: 36px;}
.nav1{transition: 0.5s;font-size: 30px;text-align: center;color: #ffffff;margin-top: -61px;padding-bottom: 13px;font-size: 20px;height: 34px;font-family: 'Open Sans', sans-serif;margin-left: 350px;}
.nav1 > a {transform: scale(1.1);padding: 5px;color: #ffffff;font-weight: bold;font-family: 'Open Sans', sans-serif;margin-top: 15px;transition-duration: .5s;text-decoration: none;}
.nav1 > a:hover {transform: scale(1.1);background-color: #1111116c;border-radius: 5px;text-decoration: underline #00e6fd;}
nav a {transition: 0.5s;}
nav a:hover{transform: scale(1.1);}
.fotoperfil{margin: auto;margin-left: 80px;border-radius: 100px;padding-top: 72px;}
.mainh{margin-top: 37px;margin: auto;}
.mainh1{font-family: 'Open Sans', sans-serif;font-size: 40px;text-align: center; margin-top: -383px;margin-left: 400px;color: #ffffff;font-weight: bold;}
.mainh2{font-family: 'Open Sans', sans-serif;;font-size: 30px;text-align: center;margin-left: 400px;color: #ffffff;}
.mainh3{text-align: center;font-size: 40px;font-family: 'Open Sans', sans-serif;padding-top: 38px;text-decoration: underline #00e6fd;font-weight: bold;margin: auto;}
.mainh4{transition: 0.5s;font-family: 'Open Sans', sans-serif;font-size: 25px;background-color: #e5e6e900;font-weight: bold;color: #ffffff;border: 1px solid #00e6fd;}
.mainh4 :hover{transform: scale(1.3);}
.banner1{background-color:#111111e8;max-width: 1381px;height: 550px;margin: auto;margin-left: -40px;padding-right: 10px;margin-right: -8px;}
.banner2{background-color: #f1f1f1;max-width: 550px;min-width:320px;display: block;height: 535px;margin-left: 560px;margin-top: -552px;}
.banner3{background-color:#111111e8;max-width: 1381px;height: 2000px;margin: auto;margin-left: -40px;padding-right: 10px;margin-right: -8px;margin-top: -25px;}
.redes1{padding: 10px;margin: auto;padding-left: 400px;text-align: center;padding-top: 60px;}
.a1{font-family: 'Open Sans', sans-serif;font-size: 20px;color: #042c83;;padding-top: 20px;text-shadow: 0px 0px 1px black;}
main article p {font-size: 20px;font-weight: bold;}
main article strong {color: #042c83;;text-decoration: underline;text-shadow: 0px 0px 1px black;}
.banner4{padding-top: 15px;padding-left: 10px;}
.c1{padding-bottom: 20px;}
.c2{padding-bottom: 20px;}
.c3{padding-bottom: 20px;}
.c4{padding-bottom: 20px;}
ul{columns: 2;padding-top: 15px;padding-left: -15px;padding-left: 204px;}
.desh3{font-size: 25px;color: #042c83;text-decoration: underline;font-weight: bold;}
.desh4{font-size: 25px;color: #042c83;text-decoration: underline;font-weight: bold;padding-top: 25px;}
li{font-size: 20px;font-weight: bold;padding: 5px;list-style-type:'\27A0';}
picture{display: block;margin: auto;}
.img2{text-align: right;padding-right: 170px;margin-top: -28px;}
picture  a {color: #0e214b00;}
p{font-family: 'Open Sans', sans-serif;}
.h1banner2{margin: auto;}
.teste2{border-radius: 5px;}
.foto1{border-radius: 200px;}
main a{text-align: center;color: #ffffff;transition: 0.5s;}
main a:hover{text-decoration: underline #00e6fd;}
.project1{text-align: center;margin-left: 400px;padding-top: 20px;}
.redes1 img{transition: 0.5s;}
.redes1  img:hover {transform: scale(1.3);}
.sobre1{max-width: 598px;height: 600px;background-color: #11111162;border-radius: 10px;margin-left: 52px;text-align: center;}
button{transition: 0.5s;}
button:hover{transform: scale(1.2);}
.sobremimh1{text-decoration: underline #00e6fd;font-family: 'Open Sans', sans-serif;font-size: 30px;color: #ffffff;padding-top: 38px;text-align: center;}
.sobre2{max-width: 685px;height: 600px;background-color: #11111162;border-radius: 10px;margin-left: 612px;
margin-top: -2000px;}
.banner4{font-family: 'Open Sans', sans-serif;font-size: 30px;color: #ffffff;text-align: center;text-decoration: underline #00e6fd;font-weight: bold;padding-top: 38px;}
article{background-color: #fffffff1;max-width: 1381px;;display: block;height: 700px;margin-left: -4px;margin-right: -8px;}
.pro1{font-family: 'Open Sans', sans-serif;font-size: 30px;color: black;padding-top: 25px;text-align: center;}
.text{color: #ffffff;font-weight: bold;text-align: justify;font-size: 15px;padding: 15px;text-indent: 30px;}
.text1{color: #ffffff;font-weight: bold;text-align: justify;font-size: 15px;padding: 15px;text-indent: 30px;margin-top: -25px;}
.text2{color: #ffffff;font-weight: bold;text-align: justify;font-size: 15px;padding: 15px;margin-top: -25px;text-indent: 30px;}
.text3{color: #ffffff;font-weight: bold;text-align: justify;font-size: 15px;padding: 15px;text-indent: 30px;margin-top: -25px;}
.m1{padding-bottom: 30px;}
.exp1{margin-left: 7px;font-family: 'Open Sans', sans-serif;color: #ffffff;text-align: center;margin-top: -156px;}
.tsefoto{margin-top: 23px;padding-right: 50px;margin-left: -114px;}
.aprendiz{;color: #ffffff;text-align:center;font-weight: bold;margin-left: -79px;margin-top: -93px;}
.aprendiz1{margin-top: 10px;color: #ffffff;text-align:center;font-weight: bold;margin-left: 186px;font-size: 13px;}
.banexp1{background-color: #042c83;max-width: 670px;height: 200px;background-color: #080808c0;;border-radius: 10px:}